html {
  font-size: 62.5%;
}

* {
  scroll-margin-top: 7rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background-color: #fcfccf80;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff0080;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0 2rem;
  height: 8rem;
}

.header .home-link {
  text-transform: uppercase;
  font-size: 2.6rem;
  text-decoration: none;
  color: #7a1a7a;
}

.home-link span {
  background-color: #d87093;
  color: yellow;
}

.toggle-button {
  display: none;
  margin-right: 2rem;
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.toggle-button__bar {
  width: 100%;
  height: 0.1rem;
  background: black;
  display: block;
  margin: 0.6em 0;
}

.mobile-nav {
  visibility: hidden;
  opacity: 0;
  background-color: rgb(179, 130, 179);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  transition: all 0.5s ease-out;
}

.mobile-nav__items {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  text-decoration: none;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.mobile-nav__item {
  margin: 0.5rem 0;
}

.mobile-nav__item a {
  text-decoration: none;
  font-size: 1.5em;
}

.mobile-nav__item a:active {
  color: #fff;
}

.close {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 50px;
  cursor: pointer;
}

.mobile-nav-open {
  visibility: visible;
  opacity: 1;
}

.nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-link {
  font-size: 1.8rem;
  color: #d87093;
  text-decoration: none;
  padding: 1rem 1.8rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgb(179, 129, 179);
  color: #fff;
}

.container {
  position: relative;
  top: 8rem;
}

.sec-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 160rem;
  margin: auto;
  position: relative;
}

.sec-hero-content-box {
  flex-basis: 50%;
  padding: 2rem 2rem;
}

.sec-hero-image-box {
  position: relative;
  flex-basis: 50%;
  padding: 2rem 2rem;
  text-align: center;
}

.hero-image {
  width: 95%;
  border-radius: 11px;
}

.main-content {
  max-width: 140rem;
  margin: auto;
}

.heading-primary {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 800;
  color: #222;
  font-size: 2.8rem;
}

.sec-services,
.sec-about,
.sec-review,
.sec-contact {
  margin-top: 6rem;
  padding: 2rem 4rem;
}

.sec-box {
  display: flex;
  margin-bottom: 4rem;
  gap: 4rem;
}

.sec-box:nth-child(4) {
  margin-bottom: 10rem;
}

.service-box {
  display: flex;
  gap: 2rem;
}

.why {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.why-content {
  padding: 2rem;
}

.secondary-heading {
  margin-bottom: 0.2rem;
  background: linear-gradient(to right, #7a1a7a, #e09fe0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.why-image-box {
  flex-basis: 50%;
  padding: 0 1rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.why-image {
  width: 100%;
}

.why-lists {
  list-style: none;
}

.list {
  margin-bottom: 10px;
}

.check-icon {
  margin-right: 10px;
}

.about-box {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 20px;
}

.about-img__box {
  flex-basis: 50%;
  border-radius: 35px 10rem 10%;
  overflow: hidden;
}

.about-img {
  width: 100%;
}

.about-content__box {
  flex-basis: 50%;
}

.review-box {
  display: flex;
  padding: 20px;
  gap: 4rem;
  margin: auto;
}
.author-profile {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.review-box_content {
  background-color: #efebef;
  border-radius: 11px;
  padding: 2rem;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

form {
  width: 40rem;
  margin: auto;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

label {
  width: 20%;
}

.message-label {
  align-self: flex-start;
  padding-top: 1rem;
}

.name,
.mail,
textarea {
  border: none;
  padding: 1rem;
  border-radius: 9px;
  background-color: #ddd;
  margin: 1rem;
  flex-grow: 1;
}

.btn-block {
  margin: 1rem;
}

.btn {
  margin-left: auto;
}

.contact-img__box {
  flex-basis: 50%;
  border-radius: 12px;
  overflow: hidden;
}

.contact-image {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: purple;
  color: #ddd;
  margin-top: 9rem;
}

.address-box {
  flex-basis: 60%;
}

.link-lists {
  display: flex;
  list-style: none;
  gap: 8px;
}

.icon-address {
  display: flex;
}

.address,
.phone,
.email {
  display: flex;
}

.address > span {
  flex: 1 0;
}

.address > span,
.phone > span,
.email > span {
  flex-basis: 90px;
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.btn:hover {
  background-color: #eee;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }

  .sec-services,
  .sec-about,
  .sec-review,
  .sec-contact {
    margin-top: 4rem;
    padding: 2rem;
  }

  .sec-box:nth-child(4) {
    margin-bottom: 6rem;
  }

  .why-image-box {
    width: 90%;
  }

  .about-img__box,
  .about-content__box {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .sec-box {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    padding: 2rem;
    margin: unset;
  }

  .sec-hero {
    flex-direction: column-reverse;
  }

  .sec-hero-content-box {
    padding: 0px 1.8rem;
    width: 90%;
  }

  .why {
    flex-direction: column-reverse;
  }

  .about-box {
    flex-direction: column-reverse;
  }

  .contact-img__box,
  .about-content__box {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .review-box {
    flex-direction: column;
  }

  .why {
    gap: 0.2rem;
  }

  .contact-box {
    flex-direction: column-reverse;
  }

  .about-box {
    padding: unset;
  }

  .why {
    gap: 2rem;
  }

  .header .nav {
    display: none;
  }

  .toggle-button {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .sec-hero {
    padding: 2rem 0;
  }

  .hero-image {
    width: 100%;
  }

  .sec-hero-content-box {
    width: 100%;
  }

  .sec-box {
    padding: 2rem 0;
  }

  .service-box {
    gap: 1.2rem;
    flex-direction: column;
  }

  .service-box object {
    margin: auto;
  }

  .footer {
    flex-direction: column;
  }

  .copyrights-box {
    margin-top: 2rem;
  }
}
